*{margin:0;padding:0;box-sizing:border-box;font-family:'Raleway';}
body{font-family:arial, sans-serif;padding:0;margin:0;background:#000;}
#header{background-color:black;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
color: white;position: fixed;top: 0;left: 0;width: 100%;height: 150px;padding: 0;margin: 0;}
#header #header-content{margin:10px;}
O bien, puede usar rgba() en lugar de opacity:
#header{background-color:rgba(0, 0, 0, 0.8);color:white;position:fixed;top:0;left:0;width:100%;height:150px;padding:0;margin:0;}
#header #header-content{margin: 0px;}
#header{left: 0;position: fixed;top: 0;width: 100%;z-index: 90;background: #010010;height: 31%;}
play{left:0;right:0;height:3.5em;display:flex;flex-direction:row;align-items:center;justify-content:space-between;}
h3 {color:#fff;}
a{color:transparent;}
div .poster{border-radius:10px;margin:2px;overflow-x: scroll;overflow-y: hidden;white-space: nowrap;}
.bt1{color:black;text-size:12pt;background:#fff;border:1px solid #fff;border-radius:4px;font-weight:bold;width:100%;padding:3;}
